.ensembleEdit {
    margin: 150px 50px 20px;
}

.userInformation {
    border-bottom: 1px solid lightgray;
    padding-bottom: 45px;
}

.ensembleInput {
    margin-top: 35px;
}

.first {
    display: flex;
    justify-content: space-around;
}

.inputAll {
    padding-right: 120px;
}

.inputAdresse {
    padding-right: 1000px;
}