<header>
    <div class="headerborder">
        <div class="headerTop">
            <div class="menuBrand">
                <img [src]="logoUrl" class="logoPangolin" alt="logoPangolin"/>
                <h3 style="margin-left: 20px;">Pangolin</h3>
            </div>
            <div class="menu">
                <div class="itemUser">
                    <a routerLink="findFriend" style="border-right: solid 2px rgb(134, 134, 134); padding-right: 2rem; text-decoration: none; color: white;">Trouver des pangolins</a>
                    <i class="pi pi-bell text-3xl" style="margin: 0 1.2rem 0; font-size: 1rem;" pBadge value="2"></i>
                </div>
                <div class="user">
                    <p-avatar icon="pi pi-user" shape="circle" style="margin: 0 1.2rem 0; font-size: 1rem;" styleClass="mr-2"></p-avatar>
                    <p style="margin-right: 20px;">Utilisateur2111</p>
                    <i class="pi pi-sign-out"></i>
                </div>
            </div>
        </div>
        <div class="texteBienvenue">
            <h1 style="font-size: 3rem;">Bonjour Utilisateur</h1>
            <p>C'est ta page utilisateur, ici tu peux ajouter des contacts, modifer tes informations et même ton statut !</p>
            <br />
            <br />
            <br />
            <a href="https://www.primefaces.org/primeng-v15-lts/icons" id="compte">
                Éditer mon profil
            </a>
        </div>
    </div>
</header>
<div class="blocDataUser">
    <p-panel header="Mes informations">
        <div class="userInformation">
            <p style="color: rgb(155, 155, 155)">Information utilisateur</p>
            <div class="ensembleInput">
                <div class="first">
                    <div class="inputUser">
                        <label for="username" style="font-weight: bold; color: grey;">Username</label>
                        <br />
                        <input class="inputAll" pInputText [disabled]="true" style="margin-top: 10px;" name="username">
                    </div>
                    <div class="inputUser">
                        <label for="email" style="font-weight: bold; color: grey;">Adresse e-mail</label>
                        <br />
                        <input class="inputAll" pInputText [disabled]="true" style="margin-top: 10px;" name="email">
                    </div>
                </div>
                <br />
                <div class="first">
                    <div class="inputUser">
                        <label for="lastmane" style="font-weight: bold; color: grey;">Prénom</label>
                        <br />
                        <input pInputText class="inputAll" [disabled]="true" style="margin-top: 10px;" name="lastname">
                    </div>
                    <div class="inputUser">
                        <label for="firstname" style="font-weight: bold; color: grey;">Nom</label>
                        <br />
                        <input pInputText [disabled]="true" class="inputAll" style="margin-top: 10px;" name="firstname">
                    </div>
                </div>
            </div>
        </div>
        <div class="userInformation">
            <p style="color: rgb(155, 155, 155)">Informations de contact</p>
            <div class="ensembleInput">
                <div class="inputUser">
                    <label for="adresse" style="font-weight: bold; color: grey;">Adresse</label>
                    <br />
                    <input class="inputAdresse" pInputText [disabled]="true" style="margin-top: 10px;" name="adresse">
                </div>
                <br />
                <div class="first">
                    <div class="inputUser">
                        <label for="username" style="font-weight: bold; color: grey;">Ville</label>
                        <br />
                        <input pInputText [disabled]="true" style="margin-top: 10px;" class="inputAll" name="username">
                    </div>
                    <div class="inputUser">
                        <label for="email" style="font-weight: bold; color: grey;">Pays</label>
                        <br />
                        <input pInputText [disabled]="true" style="margin-top: 10px;" name="email" class="inputAll">
                    </div>
                    <div class="inputUser">
                        <label for="email" style="font-weight: bold; color: grey;">Code postal</label>
                        <br />
                        <input pInputText [disabled]="true" style="margin-top: 10px;" name="email">
                    </div>
                </div>
            </div>
        </div>
        <div class="userInformation">
            <p style="color: rgb(155, 155, 155)">A propos de moi</p>
            <div class="ensembleInput">
                <textarea rows="5" cols="110" pInputTextarea [disabled]="true"></textarea>
            </div>
        </div>
    </p-panel>
    <p-card>
        <div class="EnsembleFicheUser">
            <p-avatar label="P" class="custom-avatar" size="xlarge" shape="circle"></p-avatar>
            <br />
            <br />
            <div>
                <p>{{friendNum}}</p>
                <p style="color: rgb(155, 155, 155)">Pangolins</p>
            </div>
            <br />
            <p style="font-size: 1.2rem;">
                <strong>Utilisateur2111</strong>
            </p>
            <p-chip label="Guerrier"></p-chip>
        </div>
    </p-card>
</div>
<footer class="footer-distributed">
    <div class="footer-left">
        <p class="footer-links">
            <a class="link-1" href="#">Mon profil</a>
            <a href="#">Trouver des pangolins</a>
            <a href="https://tristanfolio.bot-creator.com/">Réalisation TRAN Tristan</a>
        </p>
        <p>Pangolin &copy; {{footerDate | date: 'yyyy'}}</p>
    </div>
</footer>
