.logoPangolin {
    height: auto;
    width: 8rem;
    margin-left: 50px;
}

.headerborder {
    background: linear-gradient(90deg, rgba(47,42,34, 0.967) 0%, rgba(97,71,37, 0.8) 51%, rgba(47,42,34, 0.967) 100%), url("../../assets/social.jpg");
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
    display: block;
    color: white;
    box-shadow: 0px 0px 6px 0px rgba(26, 26, 26, 0.5);
}

.headerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuBrand {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.menu {
    margin-right: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.itemUser {
    margin-right: 90px;
}

.user {
    display: flex;
    align-items: center;
}

#compte {
    background-color: #614725;
    border: 1px solid #614725;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
        background-color: brown;
    }
}

.texteBienvenue {
    color: white;
    margin-left: 50px;
    margin-top: 128px;
    padding-bottom: 200px;
}

////////////////////////////////////////////////////////////////////
// Partie bloc

.blocDataUser {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    position: relative;
    bottom: 140px;
    z-index: 999;
}

p-panel {
    margin: 0px 30px 0px;
}

.userInformation {
    border-bottom: 1px solid lightgray;
    padding-bottom: 45px;
}

.inputUser {
    margin: 0px 10px 0px;
}

.ensembleInput {
    margin-top: 35px;
}

.first {
    display: flex;
    justify-content: space-around;
}

.inputAll {
    padding-right: 80px;
}

.inputAdresse {
    padding-right: 300px;
}

.EnsembleFicheUser {
    text-align: center;
}

.ensembleBlocList {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.ensembleBlocInfo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.emsembleTexte {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.ensembleBtn {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

////////////////////////////////////////////////////////////////////
// Partie Footer

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

/** {
  font-family: Roboto;
}*/

section {
  width: 100%;
  display: inline-block;
  background: white;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: white;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: white;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}