.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto auto;
    background: linear-gradient(90deg, rgba(47,42,34,1) 0%, rgba(97,71,37,1) 51%, rgba(47,42,34,1) 100%);
}

.main::before{
    background: linear-gradient(90deg, rgba(47,42,34,1) 0%, rgba(97,71,37,1) 51%, rgba(47,42,34,1) 100%);
    width: 100%;
	height: 100%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #614725;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
        background-color: brown;
    }
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #614725;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}